services:

  # --- MICROSERVICES ---

  redis:
    image: redis:latest
    container_name: redis_server
    # ports:
    #   - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 1s
      timeout: 3s
      retries: 5
    restart: always
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: redis-server --requirepass ${REDIS_PASSWORD}

  backend:
    build: ./backend/
    env_file:
      - ./.env
    environment:
      DB_NAME: ${DB_NAME_AUTH}
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    restart: always

  